@using System.Net
@{
    var codes = new Dictionary<int, string>();
    foreach (var code in Enum.GetValues(typeof(HttpStatusCode)))
    {
        if (codes.ContainsKey(code.GetHashCode()))
        {
            continue;
        }
        codes.Add(code.GetHashCode(), code.ToString());
    }
    var path = Context.Request.Path.ToString();
    if (path.EndsWith("/"))
    {
        path = path.TrimEnd('/');
    }
}
<p>Disclaimer: codes in the 100 range will, by their nature, likely not display as intended.</p>
@foreach (var code in codes)
{
    <p class="status-code">
        <a href="@(path)/@(code.Key)?from=@(path == "" ? "home" : "about")">@code.Key</a> : @code.Value
        @if (path == "")
        {
            <a href="/about/@(code.Key)?from=read-more">Read More</a>
        }
    </p>
}
