@using http_statuses.Controllers

@{
    Layout = "_base";
}
@if (!ViewBag.isValidStatusCode)
{
    <h1>
        @ViewBag.Title
    </h1>
}
<section>
    @if (ViewBag.isValidStatusCode)
    {
        @Html.Raw(await HttpStatusController.GetStatusCodeInfo(ViewBag.StatusCode))
        <a href="/@ViewBag.StatusCode">
            <h4>Get @ViewBag.StatusCode Response</h4>
        </a>
    }
    else
    {
        <p>
            This site was built mostly for testing and crawling purposes.
            If it's helpful to you, great!
            Give it a star on <a href="https://github.com/brakkum/http-statuses" target="_blank">GitHub</a>.
        </p>
        <p>
            Check out more info on the individual status codes below.
            Information scraped from the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">MDN Docs</a>.
        </p>
        @await Html.PartialAsync("StatusCodeList")
    }
</section>
